<template>

  <div class="text-black">
      <h1 class="text-xl">Hello World</h1>
  </div>

</template>

<script>
import Layout from "@/Shared/Layout";

export default {
    components: {Layout},
    layout: Layout
}
</script>
